<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img 
      class="pokeball" 
      src="assets/pokeball.png" 
      alt="Pokeball"
      (click)="onLogoClick()"
    >
    <span class="title">Pokédex</span>
    
    <div class="search-container">
      <mat-form-field appearance="outline">
        <mat-label>Find Pokémon</mat-label>
        <input matInput (input)="onSearch($event)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </mat-toolbar-row>
</mat-toolbar>